/* styles.css */

body{
    text-align: center;
}

.img{
    position:absolute;
    z-index:1;
}

#canvasContainer{
    display:inline-block;
    width:496px; 
    height:288px;
    margin: 0 auto; 
    background: black; 
    position:relative; 
    border:1px solid black; 
    border-radius: 2px; 
    /*box-shadow: 0 5px 50px #333
    */
}

#canvas{
    position:relative;
    z-index:20;
}